# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
.idea
dist

node_modules
bower_components

*.sublime*

psd
thumb
sketch


### SST ###
.sst

# End of https://www.toptal.com/developers/gitignore/api/react